/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

/* Common styles */
body{
    font-family: 'Montserrat', sans-serif;
} 
.col{
    float: left;
}

a{
    display: inline-block;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

/* Common sizes */
.h-50{
    height: 50%;
}

.h-100{
    height: 100%;
}

.w-50{
    width: 50%;
}

.w-100{
    width: 100%;
}

.top-bottom-height{
    height: 130px;
}

img{
    width: 100%;
}

/* MAIN */
main{
    height: calc(100vh - 130px);
}

/* Left main */
.left-main{
    background-color: black;
    width: 350px;
    color: #6f6f6f;
}

.left-main > *:not(.left-main-actions-box){
    margin-left: 30px;
}

.left-main img{
    width: 40px;
    margin-right: 10px;
}

.main-logo-box{
    display: flex;
    align-items: center;
}

.main-logo{
    width: 62%;
    min-width: 62%;
    max-width: 62%;
}

.left-main-actions li{
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-bottom: 10px;
}

.left-main-actions li:first-child{
    border-left: 4px solid #adff2f;
    padding-left: 26px;
}

.home-logo, .user-logo{
    filter: brightness(70%);
}

.search-logo, .library-logo{
    filter: brightness(50%);
}

/* Right main */
.right-main{
    background-color: #141922;
    width: calc(100% - 350px);
    padding-top: 130px;
}

/* Fixed bar */
.fixed-bar{
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 350px);
    background-color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    font-size: 1.3em;
}

.upgrade{
    font-weight: bold;
    color: white;
    border: 1px solid white;
    border-radius: 35px;
    padding: 18px 60px;
    max-width: 50%;
}

/* FOOTER */
footer{
    background-color: #282828;
} 

/* MEDIA QUERY (Desktop First) */

/* TEST */
div{
    border: 1px solid blue;
}
 

