/* -RESET- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -COMMON- */

/* Common styles */
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 15px;
} 
.col{
    float: left;
}

a, 
.suggestions-container span,
.left-footer *{
    text-decoration: none;
    color: #6f6f6f;
}

a.btn{
    display: inline-block;
}

ul{
    list-style-type: none;
}

/* Common sizes */
.h-50{
    height: 50%;
}

.h-100{
    height: 100%;
}

.w-50{
    width: 50%;
}

.w-100{
    width: 100%;
}

.top-bottom-height{
    height: 130px;
}

img{
    width: 100%;
}

/* -MAIN- */
main{
    height: calc(100vh - 130px);
    overflow-y: hidden; 
}

/* LEFT MAIN */
.left-main{
    background-color: black;
    width: 350px;
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 10px;
}

.left-main *{
    flex-shrink: 0;
}

.left-main > *:not(.left-main-actions-box){
    width: calc(100% - 60px);
    margin: auto;
}

/* Logo section */
.left-main img{
    width: 40px;
    margin-right: 10px;
}

.main-logo-box{
    display: flex;
    align-items: center;
}

.main-logo{
    width: 65%;
    min-width: 65%;
    max-width: 65%;
}

/* Left main actions section*/
.left-main-actions{
    margin-right: 30px;
}

.left-main-actions li{
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-bottom: 15px;
}

.left-main-actions li:first-child{
    border-left: 4px solid #adff2f;
    padding-left: 26px;
    color: white;
}

.home-link{
    color: white;
}

.home-logo, .user-logo, .download-logo{
    filter: brightness(70%);
}

.search-logo, .library-logo{
    filter: brightness(50%);
}

/* Playlists section */
.playlists-title-container h3{
    padding: 15px 0;
    color: white;
    text-transform: uppercase;
}

.create-playlists{
    display: flex;
    font-size: 1.2em;
    align-items: center;
    margin-bottom: 30px;
}

.plus-container{
    background-color: #a3a3a3;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.fa-plus{
    font-size: 27.5px;
}

.playlists-box{
    padding-top: 30px;
    flex-grow: 1;
    flex-shrink: 1;
    overflow-y: auto;
    min-height: 170px;

}

.playlists li{
    margin-bottom: 30px;
}

/* Install section */
.install-link{
    padding-top: 15px;
}

.install-link, .user-box{
    display: flex;
    align-items: center;
}

.install-link .download-logo{
    width: 20px;
}

hr{
    margin: 15px 0 20px;
    border-color: #4a4a4a;
}

.install-box .user-logo{
    width: 35px;
    height: 35px;
    background-color: #808080;
    border-radius: 50%;
}

.username{
    color: white;
}

/* RIGHT MAIN */
.right-main{
    background-color: #141922;
    width: calc(100% - 350px);
    padding-top: 130px;
    overflow-y: auto;
}

/* Top menu section */
.top-menu-box{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin: auto;
    padding: 25px 0;
}

.top-menu{
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    padding: 0 1.5%;
}

.top-menu li:not(:first-child){
    margin-left: 20px;
}

.lime-underline{
    padding-bottom: 4px;
    border-bottom: 2px solid #adff2f;
}

/* Suggestions section */
.suggestions-container{
    margin: 0 30px 50px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

h2{
    font-size: 2.5em;
    color: white;
    margin-bottom: 10px;
}

.suggestions-row{
    display: flex;
    
}

.suggestions-title-box{
    margin: 45px 0 40px;
}

.suggestions-box{
    margin-right: 2%;
    display: flex;
    flex-flow: column nowrap;
    overflow-x: hidden;
    text-align: center;
    width: calc((100% / 6) - 2% );
}

.suggestions-box h3{
    color: white;
    margin: 20px auto 10px;
    max-width: 100%;
    font-size: 20px;
}

.circle-img{
    border-radius: 50%;
}

/* FIXED BAR */
.fixed-bar{
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 350px);
    background-color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    font-size: 1.2em;
    
}

.upgrade{
    font-weight: bold;
    color: white;
    border: 1px solid white;
    border-radius: 35px;
    padding: 18px 60px;
    margin-right: 15px; /* Per non farlo sovrapporre con la scrollbar */
}

/* -FOOTER- */
footer{
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.left-footer i,
.right-footer i{
    font-size: 1.3em;
}

/* Left footer */
.left-footer{
    display: flex;
    width: 320px;
    max-width: 30%;
    align-items: center;
}

.left-footer-row{
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-footer span{
    font-size: 0.8em;
}

.left-footer h4{
    color: white;
    line-height: 10px;
}

.current-song{
    display: flex;
    align-items: center;
    align-content: center;
    flex-shrink: 0;
    
}

.favorites{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.left-footer .fa-folder{
    margin-left: 20px;
}

.footer-img-box{
    width: 60px;
    height: 60px;
    background-image: url(../img/sinister.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 20px;
}

/* Middle footer */
.middle-footer{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin: 0 20px;
    width: calc(40% - 20px);
    max-width: calc(40% - 20px);
    color: white;
}

.icons-row{
    display: flex;
    flex-shrink: 0;
    max-width: 100%;
    justify-content: space-between;
}

.icons-row i:not(.fa-play-circle){
    transform: scale(1.3);
    margin: 0 15px;
}

.fa-play-circle{
    margin: 0 30px;
    transform: scale(2.6);
}

.duration-row{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
}

.empty-bar{
    height: 5px;
    width: 100px;
    background-color: #6f6f6f;
    margin: 0 20px;
    border-radius: 25px;
    flex-grow: 1;
}

.white-bar{
    height: 100%;
    width: 23%;
    background-color: white;
    border-radius: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.white-circle{
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: none;
}

/* Right footer */
.right-footer{
    display: flex;
    align-items: center;
    color: white;
    max-width: 30%;
    flex-shrink: 0;
}

.right-footer i{
    margin-left: 20px;
}

.right-footer .empty-bar{
    margin-right: 0;
}

/* -MEDIA QUERY (Desktop First)- */

/* -TEST- */
/* div, nav{
    border: 1px solid blue;
}   */


