/* -RESET- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -COMMON- */

/* Common styles */
body{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.1em;
} 
.col{
    float: left;
}

a{
    text-decoration: none;
    color: #6f6f6f;
}

a.btn{
    display: inline-block;
}

ul{
    list-style-type: none;
}

/* Common sizes */
.h-50{
    height: 50%;
}

.h-100{
    height: 100%;
}

.w-50{
    width: 50%;
}

.w-100{
    width: 100%;
}

.top-bottom-height{
    height: 130px;
}

img{
    width: 100%;
}

/* -MAIN- */
main{
    height: calc(100vh - 130px);
}

/* LEFT MAIN */
.left-main{
    background-color: black;
    width: 350px;
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 10px;
    overflow-y: hidden;
}

.left-main *{
    flex-shrink: 0;
}

.left-main > *:not(.left-main-actions-box){
    width: calc(100% - 60px);
    margin: auto;
}

/* Logo section */
.left-main img{
    width: 40px;
    margin-right: 10px;
}

.main-logo-box{
    display: flex;
    align-items: center;
}

.main-logo{
    width: 65%;
    min-width: 65%;
    max-width: 65%;
}

/* Left main actions section*/
.left-main-actions{
    margin-right: 30px;
}

.left-main-actions li{
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-bottom: 15px;
}

.left-main-actions li:first-child{
    border-left: 4px solid #adff2f;
    padding-left: 26px;
    color: white;
}

.home-link{
    color: white;
}

.home-logo, .user-logo, .download-logo{
    filter: brightness(70%);
}

.search-logo, .library-logo{
    filter: brightness(50%);
}

/* Playlists section */
h3{
    padding: 15px 0;
    color: white;
    text-transform: uppercase;
}

.create-playlists{
    display: flex;
    font-size: 1.2em;
    align-items: center;
    margin-bottom: 30px;
}

.plus-container{
    background-color: #a3a3a3;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.fa-plus{
    font-size: 27.5px;
}

.playlists-box{
    padding-top: 30px;
    flex-grow: 1;
    flex-shrink: 1;
    overflow-y: auto;
    min-height: 170px;

}

.playlists li{
    margin-bottom: 30px;
}

/* Install section */
.install-link, .user-box{
    display: flex;
    align-items: center;
}

.install-link .download-logo{
    width: 20px;
}

hr{
    margin: 20px 0 25px;
    border-color: #4a4a4a;
}

.install-box .user-logo{
    width: 35px;
    height: 35px;
    background-color: #808080;
    border-radius: 50%;
}

.username{
    color: white;
}

/* RIGHT MAIN */
.right-main{
    background-color: #141922;
    width: calc(100% - 350px);
    padding-top: 130px;
}

/* FIXED BAR */
.fixed-bar{
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 350px);
    background-color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    font-size: 1.2em;
}

.upgrade{
    font-weight: bold;
    color: white;
    border: 1px solid white;
    border-radius: 35px;
    padding: 18px 60px;
}

/* -FOOTER- */
footer{
    background-color: #282828;
} 

/* -MEDIA QUERY (Desktop First)- */

/* -TEST- */
div{
    border: 1px solid blue;
}
  

